body {
  margin: 20px;
}

.card {
  display: flex;
  background-color: aquamarine;
  padding: 20px;
  border: 1px dotted blue;
  border-radius: 8px;
}

.avatar {
  width: 150px;
  border: 2px solid black;
}